<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.evansnet.ingredient.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.evansnet.ingredient.app.Perspective"
            fixed="false"
            id="org.evansnet.ingredient.perspective"
            name="Ingredient Perspective">
         <description>
            Allows for the creation, edit, and listing of ingredients.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Ingredient "
            class="org.evansnet.ingredient.ui.IngredientExplorerView"
            id="org.evansnet.ingredient.ui.ingredientexplorerview"
            name="Ingredient Explorer ">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.evansnet.ingredient.ui.ingredientexplorerview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               id="org.evansnet.Ingredient.ui.IngredientMenu"
               label="Ingredient"
               tooltip="Create, edit or remove ingredients">
            <command
                  commandId="org.evansnet.ingredient.command.ingredient.create"
                  label="Create"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="Ingredient"
            categoryId="org.evansnet.ingredient"
            description="Create a new ingredient"
            id="org.evansnet.ingredient.command.ingredient.create"
            name="Create">
      </command>
      <command
            categoryId="org.evansnet.ingredient"
            description="Save the ingredient"
            id="org.evansnet.ingredient.command.ingredient.save"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.evansnet.ingredient.ui.IngredientEditor"
            default="false"
            extensions="ing"
            id="org.evansnet.ingredient.ingredienteditor"
            name="Ingredient Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="CreateIngredientHandler"
            commandId="org.evansnet.ingredient.command.ingrecdient.create">
      </handler>
      <handler
            class="IngredientSaveHandler"
            commandId="org.evansnet.ingredient.handlers.save">
      </handler>
   </extension>

</plugin>
